/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

body{
  background-color: #222831;
  color: #FF4C29;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #222831;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.nav-justified .active a,
.nav-justified .active a:hover{
  background-color: #D89216;
  color: #FFFFFF;
}
.pillwidth{
  width: auto;
}

.teambox_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.teambox{
  margin: auto;
  padding: 5px;
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.teambox_inner{
  background-color:#393E46;
  border: 1px solid #CDCDCD;
  margin: auto;
  padding: 5px;
  width: fit-content;
  border-radius: 10px;
}

.teambox_inner_selected{
  background-color:#393E46;
  border: 1px solid #D89216;
  margin: auto;
  padding: 5px;
  width: fit-content;
  border-radius: 10px;
}

.teambox_title{
  color: #EEEEEE;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: large;
  padding: 10px;
  white-space: nowrap;
}

.teambox_title_selected{
  color: #D89216;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: large;
  padding: 10px;
  white-space: nowrap;
}

.teambox_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.teambox_inner_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.teambox_empty{
  width: 60px;
  height: 60px;
  background-image: url("./images/unknown.jpg");
  border-radius: 6px;
  background-size: contain;
  border: 1px solid transparent;
  display: inline-block;
  cursor: inherit;
  margin: 2px; filter: unset;
}

.support_title{
  color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.support_active{
  outline: 1px solid #FFD369;
  margin: 0;
}

.vl {
  border-left: 2px solid #CCCCCC;
  height: 60px;
}
.box_pad{
  padding: 10px;
}

.panel{
  width: 700px;
}

.panel-heading{
  background-color: #667283;
  color: #eeeeee;
}
.panel-collapse{
  background-color: #151B24;
  padding: 3px;
}
.panel-title{
  margin-left: 10px;
  display: inline-block;
}

.clear_button{
  color: #eeeeee;
  background-color: #667283;
  border: 1px solid #eeeeee;
  padding-left: 4px;
  padding-right: 4px;
  width: fit-content;
  border-radius: 4px;
  font-size: small;
  display: inline-block;
}
.frontline{
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("./images/position_front.png");
  display: inline-block;
}
.midline{
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("./images/position_middle.png");
  display: inline-block;
}
.backline{
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("./images/position_back.png");
  display: inline-block;
}
.center_panel{
    display: flex;
    justify-content: center;
}
.center_container{

    display: flex;
    align-items: center;
    justify-content: center;
}

.right_container{
    display: flex;
    align-items: center;
    justify-content: right;
}
.unit{
  cursor:pointer;
}

.u_select{
  opacity: 0.3;
  width: 50px;
  height: 50px;
  background-size:670px;
}
.u_default{
  opacity: 1;
  width: 50px;
  height: 50px;
  background-size:670px;
}

.b_default{
  width: 60px;
  height: 60px;
  background-size: 804px;
}

.inactive_set{
  opacity: 0.3;
}
